.intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro__description {
    font-size: 1.2em;
    white-space: pre-line;
    padding: 5%
}
.intro__title {
    padding-left: 4%;
    margin: 1%
}
.intro__bottom{
    display: flex;
    align-items: center;
    gap: 10%
}
.rick-image {
    width: 30%;
    height: auto;
    border-bottom-left-radius: 35%; 
    border-bottom-right-radius: 35%;
}
